figure {
  width: 230px;
  height: 345px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container img {
  width: 100%;
  height: 100%;
  display: block;

  object-fit: cover;
  object-position: center;

  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}

.container:hover img {
  transform: scale(1.3);
}
