@font-face {
  font-family: "NanumSquareNeo-Variable";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

p {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

a {
  color: white;
  text-decoration-line: none;
}

.info {
  color: white;
  margin-top: -15px;
  font-family: Pretendard-Regular;
}

.info a {
  text-decoration-line: none;
}

.genre {
  font-family: NanumSquareNeo-Variable;
  display: inline-block;
  background-color: orange;
  border-radius: 10px;
  padding: 5px;
  font-size: small;
  position: relative;
  top: -340px;
  left: 5px;
  color: white;
}

.rate {
  font-family: NanumSquareNeo-Variable;
  display: inline-block;
  background-color: black;
  padding: 5px;
  font-size: small;
  position: relative;
  top: -75px;
  left: 181px;
  color: white;
  width: 39px;
}

figure {
  width: 230px;
  height: 345px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;

  transform: scale(1);
  transform-origin: center;
  transition: transform 0.3s ease-in-out;
}

.container:hover img {
  transform: scale(1.3);
}