@font-face {
  font-family: "KBO-Dia-Gothic_bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

::-webkit-scrollbar {
  display: none;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: black;
  padding: 0 20px;
  height: auto;
  gap: 10px;
  z-index: 10;
  caret-color: transparent;
}

.pageName a {
  line-height: 50px;
  font-family: KBO-Dia-Gothic_bold;
  color: orange;
  font-size: 20px;
  text-decoration: none;
}

.pageName:hover {
  transform: scale(1.1);
}

.groupLinks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
}

.groupLinks a {
  font-family: KBO-Dia-Gothic_bold;
  font-size: 18px;
  color: white;
  text-decoration: none;
}

.link:hover {
  transform: scale(1.1);
}

.link a:hover {
  color: orange;
}

.searchInput {
  display: flex;
  align-items: center;
  gap: 10px;
}

.searchInput input {
  height: 30px;
  border: 1px solid black;
  border-radius: 20px;
  padding: 0 12px;
  text-align: center;
  caret-color: black;
}

.searchInput button {
  font-family: KBO-Dia-Gothic_bold;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: white;
}

.hamburger {
  display: none;
  font-size: 1.8rem;
  color: white;
  cursor: pointer;
}

/* 모바일 전용 */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: flex-start;
  }

  .groupLinks {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: black;
    padding: 1rem 0;
  }

  .groupLinks.active {
    display: flex;
  }

  .hamburger {
    display: block;
  }

  .searchInput {
    width: 100%;
    justify-content: flex-start;
    margin-top: 10px;
  }

  .searchInput input {
    width: 160px;
  }
}
.christmas a span{ 
  display: inline-block;
}

.christmas a:hover span{
    transform: scale(1.2);
}

.christmas a:hover span:nth-child(odd) {
  color: green;
}

.christmas a:hover span:nth-child(even) {
  color: red;
}