@font-face {
  font-family: "NanumSquareNeo-Variable";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

p {
  /* display: inline-block; */
  margin-block-start: 0px;
  margin-block-end: 0px;
}

a {
  color: white;
}

.img {
  object-fit: cover;
  width: 180px;
  height: 180px;
  float: left;
}

.info {
  font-family: Pretendard-Regular;
  display: inline-block;
  margin: 3% 0 1% 2%;
}

.info2 {
  position: relative;
  top: -13px;
  left: 46px;
}

.genre {
  font-family: NanumSquareNeo-Variable;
  display: inline-block;
  background-color: orange;
  border-radius: 10px;
  padding: 5px;
  font-size: small;
  position: relative;
  top: 89px;
  left: -36px;
}

.rate {
  font-family: NanumSquareNeo-Variable;
  display: inline-block;
  background-color: black;
  padding: 5px;
  font-size: small;
  position: relative;
  top: 90px;
  left: -30px;
  color: white;
  width: 39px;
}

.container {
  background-color: rgb(23, 23, 32);
  margin-bottom: 10%;
  overflow: hidden;
  width: 600px;

  border-radius: 14px;
  border: 1px solid rgba(255,255,255,0.06);
  transition: transform 180ms ease, box-shadow 180ms ease, border-color 180ms ease;
}

.container:hover {
  transform: translateY(-4px);
  box-shadow: 0 18px 40px rgba(0,0,0,0.55);
  border-color: orange;
}
