@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

.container,
.christmasContainer {
  margin: 0 auto;
  padding: 30px 5%;
  background-color: black;
  overflow: hidden;
  position: relative;
  min-height: 100vh;
}

.christmasContainer::after {
  background-image: url("../../img/default_back.jpeg");
  content: "";
  opacity: 0.7;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-size: cover;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 422px 422px 422px;
  gap: 0;
}

.footer {
  display: flex;
  justify-content: center;
  height: 100px;
}

.pages {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pages a,
.pages button {
  font-size: 20px;
  font-family: "Pretendard-Regular";
  color: white;
  background: transparent;
  border: none;
  cursor: pointer;
}

.pages a:hover,
.pages button:hover {
  color: orange;
}